{sub_dirs,
	[ "libs/nl",
	  "libs/flow",
	  "libs/jobs",
	  "libs/rnrs",
	  "libs/util",
	  "apps/wrfx",
	  "rel"
	]}.

{lib_dirs,
 [ "apps", "libs", "deps" ]}.

{deps, [
       {mochiweb, "", {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
       {mochiweb_xpath, "", {git, "git://github.com/retnuh/mochiweb_xpath.git", {branch, "master"}}},
       {riak_python_client, "", {git, "git://github.com/basho/riak-python-client.git", {tag, "1.5.2"}}, [raw]}
]}.

{erl_opts, [debug_info, fail_on_warning]}.

{require_otp_vsn, "R1[5|6]"}.
