{sub_dirs,
	[ "libs/nl",
	  "libs/flow",
	  "libs/rnrs",
	  "libs/tasks",
	  "libs/util",
	  "libs/xmon",


	  "apps/cfg",
	  "apps/stor",
	  "apps/jobs",

	  "rel"
	]}.

{deps, [
	 {cowboy, "", {git, "git://github.com/extend/cowboy.git", {branch, "master"}}}
       ]}.

{lib_dirs,
	[ "apps", "libs" ]}.

{erl_opts, [debug_info, fail_on_warning]}.

{require_otp_vsn, "R1[5|6]"}.
